<!doctype html>
<html lang="en" ng-app="vennApp">
<head>
    <meta charset="utf-8">
    <title>Venn Diagram: Biobank Search</title>
    <style>
        body {
            font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
            font-size: 14px;
        }
    </style>
</head>

<body ng-controller="SalesController">
<div style="float:left;padding:20px">
    <table>
    <!--<tr ng-repeat="set in sets">-->
      <!--<td>|{{set.id}}|</td>-->
      <!--<td>-->
        <!--<input label="{{set.id}}" class="input-mini venn_area" id="{{set.id}}" type="number" value="{{set.size}}">-->
      <!--</td>-->
    <!--</tr>-->
    <tr>
        <td>|A|</td>
        <td>
            <input class="input-mini venn_area" id="A" type="number" ng-model="a">
        </td>
    </tr>
    <tr>
    <tr>
      <td>|B|</td>
      <td>
        <input class="input-mini venn_area" id="B" type="number" ng-model="b">
      </td>
    </tr>
    <tr>
      <td>|C|</td>
      <td>
        <input class="input-mini venn_area" id="C" type="number" ng-model="c">
      </td>
    </tr>
    <tr>
      <td>|A&#8745B|</td>
      <td>
        <input class="input-mini venn_area" id="A,B" type="number" ng-model="ab">
      </td>
    </tr>
    <tr>
      <td>|A&#8745C|</td>
      <td>
        <input class="input-mini venn_area" id="A,C" type="number" ng-model="ac">
      </td>
    </tr>
    <tr>
      <td>|B&#8745C|</td>
      <td>
        <input class="input-mini venn_area" id="B,C" type="number" ng-model="bc">
      </td>
    </tr>
    <tr>
      <td>|A&#8745B&#8745C|&nbsp</td>
      <td>
        <input class="input-mini venn_area" id="A,B,C" type="number" ng-model="abc">
      </td>
    </tr>
    </table>
</div>


<div id="venn"></div>

<div style="clear: both;"></div>
<style>
    .venntooltip {
        position: absolute;
        text-align: center;
        width: 128px;
        height: 16px;
        background: #333;
        color: #ddd;
        padding: 2px;
        border: 0px;
        border-radius: 8px;
        opacity: 0;
    }
</style>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.min.js"></script>

<script src="../venn.js"></script>
<script src="app.js"></script>
<script src="allControllers.js"></script>

</html>
